@charset "utf-8";

/**
 * @date 2013-07-04
 * @author Koo Chi Hoon(SK MNS)
 */

* { margin: 0px; padding: 0px; }
body { min-width: 320px; font-family: Helvetica, sans-serif; font-size: 12px; color: #3e3e3e; }
li, dd { list-style: none; }
section, footer, address, main, header { display: block; }

/* header */
header.wrap-header {
	padding: 10px 20px;
	border-bottom: 1px solid #e5e5e5;
}
header.wrap-header h1 {
	letter-spacing: -1px;
	font-size: 24px;
}
header.wrap-header p {
	margin-top: 10px;
	line-height: 135%;
}
header.wrap-header p.nth-2 img {
    width: 25px;
	margin-top: 5px;
	margin-right: 3px;
}
header.wrap-header a {
	position: absolute;
	top: 20px;
}
header.wrap-header a.to-en {
	right: 40px;
}
header.wrap-header a.to-kr {
	right: 20px;
}

/* footer */
footer.wrap-footer {
	clear: both;
	padding: 10px 20px;
	border-top: 1px solid #e5e5e5;
}
footer.wrap-footer address {
	font-style: normal;
}
footer.wrap-footer address a {
	padding-left: 3px;
}

.wrap {
	float: left;
	width: 46%;
	padding: 0px 2%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.wrap > header h1 {
	padding-bottom: 3px;
	border-bottom: 1px solid #e5e5e5;
	text-align: left;
	letter-spacing: -1px;
	font-size: 14px;
	color: #BFBFBF;
}
.wrap > section > header h1 {
	text-align: left;
	letter-spacing: -1px;
	font-size: 14px;
	color: #8C8C8C;
}
.wrap > section > header h2 {
	position: absolute;
	top: 23px; right: 0%;
	font-weight: normal;
	font-size: 12px;
	color: #666666;
}
.wrap > section {
	position: relative;
	padding-top: 20px;
	margin-bottom: 20px;
	border-top: 1px dashed #e5e5e5;
}
.wrap > header + section {
	border-top: 0px;
}

.ex {
	text-align: center;
}
.use {
}
.ex .listWrap {
	margin: 0px auto;
	padding: 50px 0;
	width: 200px; /* You must have a attribute! */
	height: 100px; /* You must have a attribute! */
	background: url("../images/bg.png") no-repeat center 0;
}
.ex .list li {
	width: 200px; /* You must have a attribute! */
	height: 100px; /* You must have a attribute! */
}
.ex .list li div {
	width: 100%;
	height: 100%;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	color: #fff;
}
.ex .btns {
	text-align: center;
}
.ex .btns button {
	width: 50px;
	margin-top: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	background: efefef;
	border: 1px solid #b3b3b3;
	border-radius: 2px;
	letter-spacing: -1px;
}

.use table {
	width: 100%;
	margin-top: 5px;
	table-layout: fixed;
	border-collapse: collapse;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	word-break: break-all;
	font-size: 12px;
}
.use table th,
.use table td {
	padding: 10px 0;
	padding-left: 10px;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	text-align: left;
}
.use table th {
	background: #f7f7f7;
}
.use table td {
	background: #fff;
}
.use table em.required {
	color: #d61d1d;
}
.use table span.type {
	color: #9a9a9a;
}